/* Journey by Poren Chiang, MIT License https://github.com/RSChiang */
/* NOTE: The background image will be synchronized with the author's blog. You may freely change the image URL. */
/* REVISION LOG:
   - 2019-12-04 Updated to reflect the most recent additions, including frosted glass effect in newer browsers
*/

html {
    background-image: url('http://blog.poren.tw/theme/images/cover.jpg') /*, url('https://images.plurk.com/bg/<insert-url-here-for-low-res-bg>.jpg') */;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background: linear-gradient(to bottom, rgba(0,0,0,.06), rgba(0,0,0,0) 10%, rgba(0,0,0,.12) 50%, rgba(0,0,0,.54)) top center fixed;
    background-size: cover;
    font-family: Ubuntu, -apple-system, 'PingFang TC', 'Noto Sans TC', 'Source Han Sans TC', 'Hiragino Sans', 'Century Gothic', 'Microsoft Jhenghei', 'Twitter Color Emoji', sans-serif;
    min-height: 100vh !important;
}

#timeline_holder .plurk_cnt {
    border-radius: 0 6px 6px;
    background: rgba(255,255,255,.8);
    box-shadow: rgba(0,0,0,.75) 0 0 6px;
    font-size: 14px;
    line-height: 1.6;
    transition: all 0.2s ease-out;
    backdrop-filter: blur(6px);
}

#timeline_holder .plurk.display, #timeline_holder .plurk.toggled {
    width: 450px;
}

#timeline_holder .display .plurk_cnt, #timeline_holder .toggled .plurk_cnt {
    background: rgba(255,255,255,.85);
}

#timeline_holder .plurk_box .plurk_cnt {
    border-radius: 0 6px 0 0;
    background: rgba(255,255,255,.95);
}

#timeline_holder .muted .plurk_cnt {
    opacity: .6;
    color: #555;
}

#timeline_holder .plurk .manager {
    font-size: 0.85em;
}

.p_img {
    border: 0;
    width: 28px;
    height: 28px;
}

.p_img img {
    border-radius: 3px 0 0 3px;
    width: 28px;
    height: 28px;
    position: relative;
    z-index: 1;
}

.td_qual {
    padding-left: 6px;
}

.emoticon_my + .emoticon_my, 
.emoticon_my + .emoticon_my_wrapper, 
.emoticon_my_wrapper + .emoticon_my {
    margin-left: -.25em;
}

.response_count {
    padding: 0 3px;
    border-radius: 3px;
    background: 0;
    font-size: 1.15em;
    font-weight: 400;
    color: rgba(255,255,255,.4);
    transition: all 0.2s ease-out;
}
.new .response_count {
    background: 0;
    color: #fff;
    text-shadow: rgba(0,0,0,.75) 0 0 12px;
}

#form_holder {
    background: transparent;
    border-radius: 0 0 6px 6px;
    box-shadow: rgba(0,0,0,.75) 0 4px 6px;
}

.plurk_box .mini_form {
    border-radius: 0 0 6px 6px;
}

.mini_form .qual_holder {
    padding: 0;
}

.mini_form .m_qualifier {
    border-radius: 5px 0 0 5px;
    padding: 5px 6px 4px;
}

#form_holder .info_box.controller {
    border-radius: 0 0 6px 6px;
    margin-bottom: 12px;
}

#form_holder .response_time {
    background: none;
}

#form_holder .response_time .holder {
    border: rgba(255,255,255,0);
    border-radius: 0 3px 3px 0;
    box-shadow: rgba(0,0,0,.75) 1px 0 6px;
    padding: 4px 4px 2px 2px;
}

.popView {
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.popView .popViewContent {
    padding: 2px;
}

.popView .popViewArrow {
    border-right-color: #c0c0c0;
}

#timeline_holder, #bottom_line, #time_show {
    border: 0;
    background: transparent;
}

#updater {
    border-radius: 6px;
}

#updater .item a {
    background: transparent;
    color: rgba(232, 141, 67, .85);
}

#updater .item a:hover {
    color: #e88d43;
}

#timeline_bg {
    font-weight: 300;
}

#filter_tab a {
    border: 0 !important;
    background: 0 !important;
    color: rgba(255, 255, 255, 0);
    font-weight: 300;
    text-align: left;
    position: relative;
    width: 2.75em;
}

#filter_tab a:not(.no_unread) {
    height: 2em;
    margin-top: 6px;
}

#filter_tab a.has_unread {
    width: 4.5em;
}

#filter_tab a i {
    color: rgba(255, 255, 255, .4);
}

#filter_tab .filter_selected i, #filter_tab a:hover i {
    color: rgba(255, 255, 255, .6);
}

#filter_tab .unread_generic, #updater .unread_generic {
    background: 0;
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    text-shadow: rgba(0,0,0,.75) 0 0 6px;
}

#filter_tab .unread_generic {
    position: absolute;
    left: 30px;
    padding: 0;
    margin: 0;
}

.day_bg .div_inner {
    background: rgba(255,255,255,.2);
}

.day_start .bottom_start {
    background: transparent;
    color: rgba(255,255,255,.75) !important;
}

.bottom_start, .bottom_end {
    background: transparent;
    color: rgba(255,255,255,.5) !important;
}

#time_show {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

#time_show.show {
    opacity: 1;
}

#time_show span {
    color: rgba(255,255,255,.8);
    font-size: 14px;
    font-weight: 300;
    position: relative;
    top: -16px;
}

#empty_timeline_bg {
    opacity: 0;
    color: #000;
}

#empty_timeline_fg {
    opacity: .95;
    color: #fff;
}

.browse_button .cmp_arrow_right, .browse_button .cmp_arrow_left, .cmp_back_to_today:before {
    color: rgba(255, 255, 255, .75);
}

.browse_button .cmp_back_to_today {
    background: transparent;
    color: rgba(255, 255, 255, .54);
    text-transform: uppercase;
}

#plurk-dashboard, .plurkaction, #toggle_tab li.tt_selected, #more_options_link, #private_plurk_options_link {
    border: 0 !important;
    background: 0;
}

#plurk-dashboard {
    color: rgba(255,255,255,.87);
    line-height: 1.33;
    font-weight: 400;
}

#plurk-dashboard h2 {
    border-radius: 3px;
    background: rgba(255,255,255,.2);
    padding: 4px 6px;
}

#plurk_form .m_qualifier {
  padding: 5px 6px 4px;
}

#plurk_form .click {
    font-weight: 400;
}

#plurk_form .icons_holder {
    margin-top: 6px;
}

#more_options #more_options_holder {
    border: 0;
    border-radius: 6px;
    background: rgba(0,0,0,.5);
    color: #eee;
}

#plurk-dashboard .dash-segment-profile #dash-profile .profile-info, #plurk-dashboard .nick_name {
  color: rgba(255, 255, 255, .54);
  opacity: 1;
}

#plurk-dashboard .dash-segment #dash-profile img.profile-pic {
    border: 0;
    border-radius: 6px;
}

#dash-profile {
    color: #fff;
}

#plurk-dashboard #dash-stats table th {
    color: rgba(255, 255, 255, .54);
    opacity: 1;
}

.award_bar img {
    border-radius: 6px;
}

#plurk-dashboard .user_link, #plurk-dashboard #dashboard-invite, #plurk-dashboard #sharePlurk, #plurk-dashboard .user_link img {
    border: 0 !important;
    border-radius: 3px;
}

.dash-segment .segment-content {
    background: transparent;
}

.name {
    font-weight: 500;
}

code {
    font-family: Menlo, Consolas, Inconsolata, monospace;
}

input, textarea {
    border: 1px solid rgba(255,255,255,.8);
    border-radius: 3px;
    box-shadow: none;
}

textarea#input_big_private, textarea#input_big, textarea#input_permalink {
    border-radius: 6px;
}

span.qualifier, span.m_qualifier {
    border: 0 !important;
    background: 0 !important;
    color: #888;
}

span.q_is { color: #e57c43; }
span.q_says { color: #e2560b; }
span.q_needs { color: #7a9a37; }
span.q_hopes { color: #e05be9; }
span.q_feels { color: #2d83be; }
span.q_thinks { color: #689cc1; }
span.q_wants { color: #8db241; }
span.q_wishes { color: #5bb017; }
span.q_has { color: #777; }
span.q_loves { color: #b20c0c; }
span.q_hates { color: #111; }
span.q_asks { color: #8361bc; }
span.q_will { color: #b46db9; }
span.q_was { color: #525252; }
span.q_had { color: #8c8c8c; }
span.q_likes { color: #cb2728; }
span.q_shares { color: #a74949; }
span.q_gives { color: #620e0e; }
span.q_wonders { color: #2e4e9e; }
span.q_whispers { color: #32007e; }
span.q_replurks { color: #3b8610; }

.tooltip_cnt {
    border-radius: 3px;
}

#emoticon_selector, .qual_menu {
    border-radius: 6px;
}

.text_holder br + br {
    display : block;
}

#mark_all_link {
    pointer-events: none;
}

#main_poster .input_holder {
    background: rgba(255, 255, 255, .87);
    backdrop-filter: blur(6px);
    box-shadow: rgba(0,0,0,.25) 0 0 0;
    transition: background 0.15s ease, box-shadow 0.15s ease;
}

#main_poster textarea {
    background-color: transparent;
    border: 0 none;
}

#main_poster .input_holder:focus-within {
    background: rgba(255, 255, 255, 1);
    box-shadow: rgba(0,0,0,.25) 0 0 12px;
}
