/* Starlight by Poren Chiang, MIT License https://github.com/RSChiang */

/* Font styles */

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local('Ubuntu'), url("https://poren.tw/plurk-theme/ubuntu/Ubuntu[wdth,wght].woff2") format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: local('Ubuntu-Italic'), url("https://poren.tw/plurk-theme/ubuntu/Ubuntu-Italic[wdth,wght].woff2") format('woff2');
}

'{}:not(*) /*{*/, /*}*/
body {
    font-family: Ubuntu, Seravek, Corbel, "PT Sans", "PingFang TC", "Source Han Sans TC", sans-serif;
} '{}

code {
    font-family: Menlo, Consolas, Inconsolata, monospace;
}

/* Main layout */

._lch_ {
    background-color: #0a1c36;
    background-image: url("https://poren.tw/plurk-theme/starlight/background@2x.jpg");
    background-image: image-set(url("https://poren.tw/plurk-theme/starlight/background@1x.webp") 1x, url("https://poren.tw/plurk-theme/starlight/background@2x.webp") 2x);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

._lc_ {
    background: linear-gradient(to bottom, rgba(0,0,0,.06), rgba(0,0,0,0) 10%, rgba(0,0,0,.12) 50%, rgba(0,0,0,.54)) top center fixed;
    background-size: cover;
    min-height: 100vh !important;
}

#timeline_holder .plurk_cnt {
    border-radius: 0 6px 6px;
    background: rgba(255,255,255,.8);
    box-shadow: rgba(0,0,0,.75) 0 0 6px;
    font-size: 14px;
    line-height: 1.6;
    transition: all 0.14s ease-out;
    backdrop-filter: blur(6px);
}

#timeline_holder .plurk.display, #timeline_holder .plurk.toggled {
    width: 450px;
}

#timeline_holder .display .plurk_cnt, #timeline_holder .toggled .plurk_cnt {
    background: rgba(255,255,255,.85);
}

#timeline_holder .plurk_box .plurk_cnt {
    border-radius: 0 6px 0 0;
    background: rgba(255,255,255,.95);
}

#timeline_holder .muted .plurk_cnt {
    opacity: .6;
    color: #555;
}

#timeline_holder .plurk .manager {
    font-size: 0.85em;
}

.p_img {
    border: 0;
    width: 28px;
    height: 28px;
}

.p_img img {
    border-radius: 3px 0 0 3px;
    width: 28px;
    height: 28px;
    position: relative;
    z-index: 1;
}

.td_qual {
    padding-left: 6px;
}

.emoticon_my + .emoticon_my,
.emoticon_my + .emoticon_my_wrapper,
.emoticon_my_wrapper + .emoticon_my {
    margin-left: -.25em;
}

.response_count {
    padding: 0 3px;
    border-radius: 3px;
    background: 0;
    font-size: 1.15em;
    font-weight: 400;
    color: rgba(255,255,255,.4);
    transition: all 0.2s ease-out;
}
.new .response_count {
    background: 0;
    color: #fff;
    text-shadow: rgba(0,0,0,.75) 0 0 12px;
}

#form_holder {
    background: transparent;
    border-radius: 0 0 6px 6px;
    box-shadow: rgba(0,0,0,.75) 0 4px 6px;
}

.plurk_box .list {
    padding-left: 0;
    padding-right: 0;
}

.plurk_box .list .plurk_cnt {
    padding-left: 5px;
    padding-right: 5px;
}

.response-status {
    margin-top: 0;
}

.response_box, .plurk_box > div:not(.new_response_hint) {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(6px);
}

.plurk_box > div:last-child {
    border-radius: 0 0 6px 6px;
    min-height: 6px;
}

.plurk_box .mini_form {
    background: transparent;
}

.response .plurk_cnt {
    background: rgba(255, 255, 255, 0);
    transition: background-color 0.15s ease-out;
}

.response.show-response-manager .plurk_cnt {
    background: white;
}

.response-manager {
    border-radius: 3px;
    background: rgba(255,255,255,.87);
    backdrop-filter: blur(8px);
}

.response .response-manager > div:hover {
    background: rgba(175, 184, 204, 0.25);
    color: inherit;
}

.response .response-manager > div:last-child:hover {
    border-radius: 0 3px 3px 0;
}

.mini_form .qual_holder {
    padding: 0;
}

.mini_form .m_qualifier {
    border-radius: 5px 0 0 5px;
    padding: 5px 6px 4px;
}

#form_holder .info_box.controller {
    border-radius: 0 0 6px 6px;
    margin-bottom: 12px;
}

#form_holder .response_time {
    background: none;
}

#form_holder .response_time .holder {
    border: rgba(255,255,255,0);
    border-radius: 0 3px 3px 0;
    box-shadow: rgba(0,0,0,.75) 1px 0 6px;
    padding: 4px 4px 2px 2px;
}

#timeline_holder, #bottom_line, #time_show {
    border: 0;
    background: transparent;
}

#updater {
    border-radius: 6px;
}

#updater .item a {
    background: transparent;
    color: rgba(232, 141, 67, .85);
}

#updater .item a:hover {
    color: #e88d43;
}

#filter_tab a {
    border: 0 !important;
    background: 0 !important;
    color: rgba(255, 255, 255, 0);
    font-weight: 300;
    text-align: left;
    position: relative;
    width: 2.75em;
}

#filter_tab a:not(.no_unread) {
    height: 2em;
    margin-top: 6px;
}

#filter_tab a.has_unread {
    width: 4.5em;
}

#filter_tab a i {
    color: rgba(255, 255, 255, .4);
}

#filter_tab .filter_selected i, #filter_tab a:hover i {
    color: rgba(255, 255, 255, .6);
}

#filter_tab .unread_generic, #updater .unread_generic {
    background: 0;
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    text-shadow: rgba(0,0,0,.75) 0 0 6px;
}

#filter_tab .unread_generic {
    position: absolute;
    left: 30px;
    padding: 0;
    margin: 0;
}

.day_bg .div_inner {
    background: rgba(255,255,255,.2);
}

.bottom_start, .bottom_end {
    background: transparent;
    color: rgba(255,255,255,.15);
}

.bottom_start.time_start:nth-child(2n+1) {
  padding-left: 1px; /* Alternate out timestamps that are too close */
}

.day_start {
    background: transparent;
    color: rgba(255,255,255,.25);
}

#time_show span {
    color: rgba(255,255,255,.35);
    position: relative;
    top: -16px;
}

#empty_timeline_bg {
    opacity: 0;
    color: #000;
}

#empty_timeline_fg {
    opacity: .95;
    color: #fff;
}

.browse_button .cmp_arrow_right, .browse_button .cmp_arrow_left, .cmp_back_to_today:before {
    color: rgba(255, 255, 255, .75);
}

.browse_button .cmp_back_to_today {
    background: transparent;
    color: rgba(255, 255, 255, .54);
    text-transform: uppercase;
}

#plurk-dashboard, .plurkaction, #toggle_tab li.tt_selected, #more_options_link, #private_plurk_options_link {
    border: 0 !important;
    background: 0;
}

#plurk-dashboard {
    color: rgba(255,255,255,.87);
    line-height: 1.33;
    font-weight: 400;
}

#plurk-dashboard h2 {
    border-radius: 4px;
    background: rgba(255,255,255,.2);
    padding: 4px 6px;
    backdrop-filter: blur(8px);
}

#plurk_form .m_qualifier {
  padding: 5px 6px 4px;
}

#plurk_form .click {
    background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.08) 100%);
    font-weight: 400;
}

#plurk_form .click:active {
    background-image: linear-gradient(rgba(0,0,0,.1) 0%, rgba(0,0,0,.21) 100%);
}

#plurk_form .icons_holder {
    margin-top: 6px;
}

#plurk-dashboard .dash-segment-profile #dash-profile {
    height: 6rem;
}

#plurk-dashboard .dash-segment #dash-profile img.profile-pic {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 1rem;
}

#plurk-dashboard .dash-segment-profile #dash-profile #full_name {
    margin-left: 6.5rem;
    font-size: 18px;
    font-weight: 500;
}

#plurk-dashboard .dash-segment-profile #dash-profile #full_name .display_name {
    margin: 0 24px .125em 0;
}

#plurk-dashboard .nick_name, #plurk-dashboard .dash-segment-profile #dash-profile .profile-info {
    color: rgba(255, 255, 255, .54);
    opacity: 1;
}

#plurk-dashboard .dash-segment-profile #dash-profile .profile-icons {
    position: absolute;
    top: 2px;
    bottom: auto;
}

#plurk-dashboard .dash-segment-profile #dash-additional-info #about_me {
    color: #fff;
}

#karma_holder {
    font-weight: 600;
}

.karma_hover {
    font-family: inherit;
    font-variant: proportional-nums; /* oldstyle-nums has no effect for Ubuntu font */
}

#plurk-dashboard #dash-stats table th {
    vertical-align: baseline;
    color: rgba(255, 255, 255, .54);
    opacity: 1;
}

#plurk-dashboard #dash-stats table td {
    vertical-align: baseline;
    font-variant: tabular-nums;
}

#m_or_f { opacity: 0; }

.award_bar div {
    transition: transform 0.28s ease-out, opacity 0.28s ease-out;
    transform: scale(1);
    opacity: 0.7;

    /* Clip out pixelated low-res edges */
    clip-path: polygon(50% 2.5%, 100% 13.4%, 100% 86.6%, 50% 97.5%, 0% 86.6%, 0% 13.4%);
}

.award_bar div:hover {
    transform: scale(1.1);
    opacity: 1;
}

#plurk-dashboard .user_link img {
    border-radius: 5px;
    transform: scale(0.95);
    opacity: .95;
    transition: transform .14s ease-out, opacity .14s ease-out;
}

#plurk-dashboard .user_link:hover img {
    transform: scale(1);
    opacity: 1;
}

.dash-segment .segment-content {
    background: transparent;
}

.name {
    font-weight: 600;
}

input, textarea {
    border: 1px solid rgba(255,255,255,.8);
    border-radius: 3px;
    box-shadow: none;
}

textarea#input_big_private, textarea#input_big, textarea#input_permalink {
    border-radius: 6px;
}

span.qualifier, span.m_qualifier {
    border: 0 !important;
    background: 0 !important;
    color: #888;
    padding: 0;
    font-weight: 420;
}

span.q_is { color: #e57c43; }
span.q_says { color: #e2560b; }
span.q_needs { color: #7a9a37; }
span.q_hopes { color: #e05be9; }
span.q_feels { color: #2d83be; }
span.q_thinks { color: #689cc1; }
span.q_wants { color: #8db241; }
span.q_wishes { color: #5bb017; }
span.q_has { color: #777; }
span.q_loves { color: #b20c0c; }
span.q_hates { color: #111; }
span.q_asks { color: #8361bc; }
span.q_will { color: #b46db9; }
span.q_was { color: #525252; }
span.q_had { color: #8c8c8c; }
span.q_likes { color: #cb2728; }
span.q_shares { color: #a74949; }
span.q_gives { color: #620e0e; }
span.q_wonders { color: #2e4e9e; }
span.q_whispers { color: #32007e; }
span.q_replurks { color: #3b8610; }

.plurk_content a.hashtag, .plurk .text_holder a.hashtag {
    font-size: inherit;
}

.text_holder br + br {
    display: block;
}

#mark_all_link {
    pointer-events: none;
}

#main_poster .input_holder {
    background: rgba(255, 255, 255, .87);
    backdrop-filter: blur(6px);
    box-shadow: rgba(0,0,0,.25) 0 0 0;
    transition: background 0.15s ease, box-shadow 0.15s ease;
}

#main_poster textarea {
    background-color: transparent;
    border: 0 none;
}

#main_poster .input_holder:focus-within {
    background: rgba(255, 255, 255, 1);
    box-shadow: rgba(0,0,0,.25) 0 0 12px;
}

/* Global items */

'{}:not(*) /*{*/, /*}*/
#top_bar {
    font-family: Ubuntu, Seravek, Corbel, "PT Sans", "PingFang TC", "Source Han Sans TC", sans-serif;
} '{}

'{}:not(*) /*{*/, /*}*/
.bar-color {
    background: rgba(0,0,0,.05);
    backdrop-filter: blur(8px);
    opacity: 1 !important;
} '{}

'{}:not(*) /*{*/, /*}*/
#top_bar .item-reversed {
    background-color: rgba(255,255,255,0);
    transition: background-color 0.14s ease-out;
} '{}

'{}:not(*) /*{*/, /*}*/
#top_bar .item-reversed:hover {
    background-color: rgba(255,255,255,.2) !important;
    transition: background-color 0.14s ease-out;
} '{}

'{}:not(*) /*{*/, /*}*/
.pop-view {
    background: rgba(255,255,255,0.87);
    backdrop-filter: blur(8px);
    border: transparent 0 none;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 3px rgba(0,0,0,.12), 0 4px 15px 0 rgba(0,0,0,.2);
} '{}

'{}:not(*) /*{*/, /*}*/
.pop-menu {
    font-family: "SF Pro", Inter, "Segoe UI", system-ui, sans-serif;
} '{}

'{}:not(*) /*{*/, /*}*/
.pop-menu .pop-view-content {
    padding: 4px;
} '{}

'{}:not(*) /*{*/, /*}*/
.pop-menu ul li a:not(.no-hover):hover {
    background: rgba(0,0,0,.085);
} '{}

'{}:not(*) /*{*/, /*}*/
.pop-menu #language-selector select {
    padding-left: 4px;
    margin-left: -4px;
} '{}

'{}:not(*) /*{*/, /*}*/
.pop-tooltip {
    background: rgba(0,0,0,.87);
} '{}

'{}:not(*) /*{*/, /*}*/
.qual_menu {
    margin: -8px -9px;
} '{}

'{}:not(*) /*{*/, /*}*/
.qual_menu li {
    line-height: 16px;
} '{}

'{}:not(*) /*{*/, /*}*/
.qual_menu li:first-child {
    border-radius: 5px 5px 0 0;
} '{}

'{}:not(*) /*{*/, /*}*/
.qual_menu li:last-child {
    border-radius: 0 0 5px 5px;
} '{}

'{}:not(*) /*{*/, /*}*/
#emoticon-selector {
    background: rgba(255,255,255,.54);
} '{}

'{}:not(*) /*{*/, /*}*/
#emoticon-selector-holder > :not(.scroll-holder) {
    background: rgba(255,255,255,.33);
    border-color: rgba(0,0,0,.15);
} '{}

'{}:not(*) /*{*/, /*}*/
#emoticons-holder {
    background: transparent;
} '{}

'{}:not(*) /*{*/, /*}*/
#noti-list .pop-view-content {
    background: transparent;
} '{}

'{}:not(*) /*{*/, /*}*/
#noti-list ul {
    background: transparent;
} '{}

'{}:not(*) /*{*/, /*}*/
#noti-list li {
    border: transparent 0 none;
} '{}

'{}:not(*) /*{*/, /*}*/
#noti-list li:hover {
    background: rgba(0,0,0,.085);
} '{}

'{}:not(*) /*{*/, /*}*/
#noti-list li.new-noti {
    background: rgba(255,103,93,.15);
} '{}

'{}:not(*) /*{*/, /*}*/
#noti-list li.new-noti:hover {
    background: rgba(255,103,93,.33);
} '{}

'{}:not(*) /*{*/, /*}*/
#noti-list .header {
    border-color: rgba(0,0,0,.05);
} '{}

'{}:not(*) /*{*/, /*}*/
#noti-list .header .noti-alert-switch {
    border-radius: 8px;
} '{}

'{}:not(*) /*{*/, /*}*/
#noti-list .header .noti-alert-switch .pusher {
    border-radius: 50%;
} '{}

'{}:not(*) /*{*/, /*}*/
.friend_man {
    border-radius: 14px;
} '{}

'{}:not(*) /*{*/, /*}*/
#noti-list .requests .load-more {
    border-radius: 4px;
    margin: 0 8px;
    background: transparent;
    line-height: 2em;
    color: #999;
} '{}

'{}:not(*) /*{*/, /*}*/
#noti-list .requests .load-more:hover {
    background: rgba(0,0,0,.085);
} '{}

'{}:not(*) /*{*/, /*}*/
.pop-window.show {
    backdrop-filter: blur(4px);
} '{}

'{}:not(*) /*{*/, /*}*/
.colorbox .pop-window-view {
    border-radius: 8px;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12), 0 11px 15px 0 rgba(0,0,0,.2);
} '{}

'{}:not(*) /*{*/, /*}*/
.more-options .option-limit {
    background: rgba(255,255,255,.33);
} '{}

'{}:not(*) /*{*/, /*}*/
textarea[spellcheck="false"] {
    font-family: Menlo, Consolas, monospace;
    font-size: 11px;
} '{}
